
@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-Medium.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
    font-weight: 400;
    font-style: normal;
  } 
  

.containergrid{
    --grid-layout-gap: 0px;
  --grid-column-count: 2;
  --grid-item--min-width: 300px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-auto-rows: 387px;
  grid-gap: var(--grid-layout-gap);
  max-width: 1920px;
  background-color: mintcream;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container{
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)), url(../public/fabing-background-kitchen.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-left: 30%;
}

.bottom {
    background-image:linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)), url(../public/fabing-background-bathroom.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
    position: relative;
    min-height: 90vh;
    max-height: fit-content;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 100px;
    padding-right: 30%;
}

.container h2{
    font-size: 40px
}
.container h1{
    font-size: 40px
}



.top p{
    text-align: left;
    color: rgb(230, 230, 230);
    font-size: large;
}

.bottom p {
    text-align: left;
    color: rgb(200,200,200);
    font-size: large;
}

.abouttext{
    width: 500px;
}



.text h1{
    margin-bottom: 1rem;
    font-size: x-large;
}

.text h2{
    margin-bottom: 1rem;
    font-size: x-large;
}

.text p{
    display: flex;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: var(--text-grey);
    align-self: center;
    margin-left:1rem;
    margin-right: 1rem;
}


.image{
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    object-fit: none;
    
}

@media (max-width: 920px){
    .bottom{
        padding-right: 0% ;
        
    }    

    .abouttext{
        width: 300px;
        padding-right: 0%;
    }
}

@media (max-width: 476px){
    .bottom{
        background-position: 75%;
    }

    .top{
        padding: 0;
    }
}

@media(max-width: 350px){
    .abouttext{
        width:250px;
    }

    .abouttext h1{
        font-size: xx-large;
    }
}

